<script>
  $( '.organization-panel' ).hover(
    function() { $( this ).addClass( 'hover' ); },
    function() { $( this ).removeClass( 'hover' ); }
  );
</script>
<% organizations.forEach( function( organization ) { %>

  <div class="panel panel-default organization-panel" id="<%= organization.slug %>-panel" name="<%= organization.slug %>" onclick="zoomToOrganization('<%= organization.slug %>');">
    <div class="panel-heading">
      <% if ( typeof( organization.location ) != "undefined") { %>
        <% if ( typeof( organization.location[0] ) != "undefined") { %>
          <input type="hidden" id="organization.slug" value="<%= organization.slug %>">
          <input type="hidden" id="<%= organization.slug %>-lat" value="<%= organization.location[0].address.lat %>">
          <input type="hidden" id="<%= organization.slug %>-lng" value="<%= organization.location[0].address.lng %>">
        <% } %>
      <% } %>
      <a href="#" onClick="clickedPin('<%= organization.slug %>');">
        <%= organization.name %>
      </a>
    </div>
    <div class="panel-body">
    <% organization.product.forEach( function( product ) { %>
    - <small><a href="#" onClick="loadProduct('<%= product.slug %>');"><%= product.name %></a></small><br>
    <% }) %>
    </div>
  </div>

<% }) %>
