<h1><%= organization.name %></h1>
<% if ( typeof( organization.location ) != "undefined") { %>
  <% if ( typeof( organization.location[0] ) != "undefined") { %>
    <input type="hidden" id="<%= organization.slug %>-lat" value=<%= organization.location[0].address.lat %>>
    <input type="hidden" id="<%= organization.slug %>-lng" value=<%= organization.location[0].address.lng %>>
  <% } %>
<% } %>
<% if ( organization.getUrl() ) {
  url = organization.getUrl(); %>
  <p><a href="<%= url %>" target="<%= organization.slug %>"><%= url %></a></p>
<% } %>

<% if ( organization.getDateAdded() ) { %>
  <p>Added: <%= organization.getDateAdded() %></p>
<% } %>

<% if ( organization.history.founded_year ) { %>
  <p>Founded: <%= organization.history.founded_year %></p>
<% } %>

<% if ( organization.history.founder.length ) { %><p>Founders:<% } %>
<% for ( i=0; i < organization.history.founder.length; i++ ) {
  founder = organization.history.founder[ i ]; %>
  <% if ( i ) { %>, <% } %>
  <% if ( founder.url ) { %><a href="<%= founder.url %>" target="<%= organization.slug %>"><% } %>
    <%= founder.name %><% if ( founder.url ) { %></a><% } %>
<% } %>
<!--
<% if ( organization.post.length ) { %><p>Posted:<% } %>
<% for ( i=0; i < organization.post.length; i++ ) {
  post = organization.post[ i ]; %>
  <% if ( i ) { %>, <% } %>
  <% if ( post.url ) { %><a href="<%= post.url %>" target="<%= organization.slug %>"><% } %>
    <%= post.service %><% if ( post.url ) { %></a><% } %>
  <% if ( post.date ) { %>(<%= organization.formatDate( post.date ) %>) <% } %>
<% } %>
-->
<% if ( organization.stock.ticker_symbol ) { %>
  <p>Stock:
  <% if ( organization.stock.url ) { %>
    <a href="<%= organization.stock.url %>" target="<%= organization.slug %>"><% } %>
    <%= organization.stock.ticker_symbol %>
  <% if ( organization.stock.url ) { %></a><% } %>
  <% if ( organization.stock.exchange ) { %>(<%= organization.stock.exchange %>) <% } %>
<% } %>

<% if ( organization.description ) { %>
  <p><%= organization.description %></p>
<% } %>

<p>
<% for ( i=0; i < organization.social_network.length; i++ ) {
  socialNetwork = organization.social_network[ i ];
    url = organization.checkUrl( socialNetwork.url );
    if ( url ) { %><a href="<%= url %>" target="<%= organization.slug %>"><% } %>
    <%= socialNetwork.service %>
    <% if ( url ) { %></a><% } %>
<% } %>
</p>

<% phone = organization.getPhone();
if ( phone ) { %><p>Phone: <%= phone %></p><% } %>

<% email = organization.getEmail();
if ( email ) {%><p>email: <a href="mailto:<%= email %>"><%= email %></a></p><% } %>

<% address = organization.getFirstLocation();
if ( address ) { %><p>Address: <%= address %></p><% } %>

<%- include( product ); %>
=======
<h1><%= organization.name %></h1>
<% if ( typeof( organization.location ) != "undefined") { %>
  <% if ( typeof( organization.location[0] ) != "undefined") { %>
    <input type="hidden" id="<%= organization.slug %>-lat" value=<%= organization.location[0].address.lat %>>
    <input type="hidden" id="<%= organization.slug %>-lng" value=<%= organization.location[0].address.lng %>>
  <% } %>
<% } %>
<% if ( organization.getUrl() ) {
  url = organization.getUrl(); %>
  <p><a href="<%= url %>" target="<%= organization.slug %>"><%= url %></a></p>
<% } %>

<% if ( organization.getDateAdded() ) { %>
  <p>Added: <%= organization.getDateAdded() %></p>
<% } %>

<% if ( organization.history.founded_year ) { %>
  <p>Founded: <%= organization.history.founded_year %></p>
<% } %>

<% if ( organization.history.founder.length ) { %><p>Founders:<% } %>
<% for ( i=0; i < organization.history.founder.length; i++ ) {
  founder = organization.history.founder[ i ]; %>
  <% if ( i ) { %>, <% } %>
  <% if ( founder.url ) { %><a href="<%= founder.url %>" target="<%= organization.slug %>"><% } %>
    <%= founder.name %><% if ( founder.url ) { %></a><% } %>
<% } %>
<!--
<% if ( organization.post.length ) { %><p>Posted:<% } %>
<% for ( i=0; i < organization.post.length; i++ ) {
  post = organization.post[ i ]; %>
  <% if ( i ) { %>, <% } %>
  <% if ( post.url ) { %><a href="<%= post.url %>" target="<%= organization.slug %>"><% } %>
    <%= post.service %><% if ( post.url ) { %></a><% } %>
  <% if ( post.date ) { %>(<%= organization.formatDate( post.date ) %>) <% } %>
<% } %>
-->
<% if ( organization.stock.ticker_symbol ) { %>
  <p>Stock:
  <% if ( organization.stock.url ) { %>
    <a href="<%= organization.stock.url %>" target="<%= organization.slug %>"><% } %>
    <%= organization.stock.ticker_symbol %>
  <% if ( organization.stock.url ) { %></a><% } %>
  <% if ( organization.stock.exchange ) { %>(<%= organization.stock.exchange %>) <% } %>
<% } %>

<% if ( organization.description ) { %>
  <p><%= organization.description %></p>
<% } %>

<p>
<% for ( i=0; i < organization.social_network.length; i++ ) {
  socialNetwork = organization.social_network[ i ];
    url = organization.checkUrl( socialNetwork.url );
    if ( url ) { %><a href="<%= url %>" target="<%= organization.slug %>"><% } %>
    <%= socialNetwork.service %>
    <% if ( url ) { %></a><% } %>
<% } %>
</p>

<% phone = organization.getPhone();
if ( phone ) { %><p>Phone: <%= phone %></p><% } %>

<% email = organization.getEmail();
if ( email ) {%><p>email: <a href="mailto:<%= email %>"><%= email %></a></p><% } %>

<% address = organization.getFirstLocation();
if ( address ) { %><p>Address: <%= address %></p><% } %>

<% include product %>
